{% extends 'base.html.twig' %}

{% block title %} QuasarApp-UMD {% endblock %}

{% block body %}
  <div id="q-app">
      <q-layout view="lHh Lpr fff">
        <q-layout-header>
          <q-toolbar>
            <q-btn flat round dense @click="drawerState = !drawerState" icon="menu"></q-btn>

            <q-toolbar-title>
              Vinty
              <div slot="subtitle">Running on Quasar v {[{ version }]}</div>
            </q-toolbar-title>
          </q-toolbar>
        </q-layout-header>

        <q-layout-drawer
          v-model="drawerState"
          :content-class="$q.theme === 'mat' ? 'bg-grey-3' : null">       
        </q-layout-drawer>

      <q-page-container>

        <my-page></my-page>

         {% include 'quasar_components/html_editor.html.twig' %}

      </q-page-container>
    </q-layout>
  </div> {# End of q-app #}

 

{% endblock %}

{% block javascripts %}

  {{- parent() -}}

  {% javascripts '@AppBundle/Resources/app/backoffice/main.js' %}                         
      <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% endblock %}