<template id="my-page">

<template>
 <q-carousel
    color="white"
    arrows
    height="650px"
  >
    <q-carousel-slide img-src="https://image.ibb.co/h11v78/qa1.png" alt="qa1" border="0">
      <div class="absolute-center custom-caption" text-color="white">
        <div class="q-display-1">First stop</div>
        <div class="q-headline">Mountains</div>
      </div>
    </q-carousel-slide>

    <q-carousel-slide img-src="https://image.ibb.co/m2EbEo/qa2.png">
      <div class="absolute-top-left custom-caption">
        <div class="q-display-1">Second stop</div>
        <div class="q-headline">Famous City</div>
      </div>
    </q-carousel-slide>

  </q-carousel>

  
</template>

<template>
<main class="q-layout-page row justify-center layout-padding">
	<div class="row"> 
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <q-card inline>
					  <q-card-media>
					    <img src="https://image.ibb.co/cd0PZo/shutterstock_518792761.png"/>
					  </q-card-media>
					  <q-card-title>
					    Cafe Basilico
					    <q-rating slot="subtitle" v-model="stars" :max="5"></q-rating>
					    <div slot="right" class="row items-center">
					      <q-icon name="place" ></q-icon> 250 ft
					    </div>
					  </q-card-title>
					  <q-card-main>
					    <p>$・Italian, Cafe</p>
					    <p class="text-faded">Small plates, salads & sandwiches in an intimate setting.</p>
					  </q-card-main>
					  <q-card-separator></q-card-separator>
					  <q-card-actions>
					    <q-btn flat round dense icon="event" ></q-btn>
					    <q-btn flat label="5:30PM" ></q-btn>
					    <q-btn flat label="7:30PM" ></q-btn>
					    <q-btn flat label="9:00PM" ></q-btn>
					    <q-btn flat color="primary" label="Reserve" ></q-btn>
					  </q-card-actions>
					</q-card>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <q-card inline>
					  <q-card-media>
					    <img src="https://image.ibb.co/em6bfT/shutterstock_270515015.png"/>
					  </q-card-media>
					  <q-card-title>
					    Cafe Basilico
					    <q-rating slot="subtitle" v-model="stars" :max="5"></q-rating>
					    <div slot="right" class="row items-center">
					      <q-icon name="place" ></q-icon> 250 ft
					    </div>
					  </q-card-title>
					  <q-card-main>
					    <p>$・Italian, Cafe</p>
					    <p class="text-faded">Small plates, salads & sandwiches in an intimate setting.</p>
					  </q-card-main>
					  <q-card-separator></q-card-separator>
					  <q-card-actions>
					    <q-btn flat round dense icon="event" ></q-btn>
					    <q-btn flat label="5:30PM" ></q-btn>
					    <q-btn flat label="7:30PM" ></q-btn>
					    <q-btn flat label="9:00PM" ></q-btn>
					    <q-btn flat color="primary" label="Reserve" ></q-btn>
					  </q-card-actions>
					</q-card>
                  
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <q-card inline>
					  <q-card-media>
					    <img src="https://image.ibb.co/gwVf78/shutterstock_391257871.png"/>
					  </q-card-media>
					  <q-card-title>
					    Cafe Basilico
					    <q-rating slot="subtitle" v-model="stars" :max="5"></q-rating>
					    <div slot="right" class="row items-center">
					      <q-icon name="place" ></q-icon> 250 ft
					    </div>
					  </q-card-title>
					  <q-card-main>
					    <p>$・Italian, Cafe</p>
					    <p class="text-faded">Small plates, salads & sandwiches in an intimate setting.</p>
					  </q-card-main>
					  <q-card-separator></q-card-separator>
					  <q-card-actions>
					    <q-btn flat round dense icon="event" ></q-btn>
					    <q-btn flat label="5:30PM" ></q-btn>
					    <q-btn flat label="7:30PM" ></q-btn>
					    <q-btn flat label="9:00PM" ></q-btn>
					    <q-btn flat color="primary" label="Reserve" ></q-btn>
					  </q-card-actions>
					</q-card>
                  
                </div>
              </div>
     </main>
</template>

<template>
	<main class="q-layout-page row justify-center layout-padding">
		<div class="overflow-hidden">  
              <div class="row gutter-xs"> 
            	<div class="col-sm col-md-6">
            		<p><q-card-media><img src="https://image.ibb.co/h5A8uo/banner1.png" alt="banner1" border="0"></q-card-media></p>
            		<p>col 1 - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            	</div>

            	<div class="col-sm col-md-6">
            		<p><q-card-media><img src="https://image.ibb.co/h5A8uo/banner1.png" alt="banner1" border="0"></q-card-media></p>
            		<p>col 2 - Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            	</div>
            </div>
          </div>  
        </main>
</template>

		<q-list>
		  <q-collapsible group="somegroup" icon="explore" label="First">
		    <div>
		      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
		    </div>
		  </q-collapsible>
		  <q-collapsible group="somegroup" icon="perm_identity" label="Second">
		    <div>
		      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
		    </div>
		  </q-collapsible>
		  <q-collapsible group="somegroup" icon="shopping_cart" label="Third">
		    <div>
		      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.</p>
		    </div>
		  </q-collapsible>
		</q-list>
	<q-editor
				  v-model="editorModel"
				  v-bind:toolbar="[
				    ['bold', 'italic', 'strike', 'underline', 'subscript', 'superscript'],
				    ['token', 'hr', 'link', 'custom_btn'],
				    ['print', 'fullscreen'],
				    [
				      {
				        label: $q.i18n.editor.formatting,
				        icon: $q.icon.editor.formatting,
				        list: 'no-icons',
				        options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code']
				      },
				      {
				        label: $q.i18n.editor.fontSize,
				        icon: $q.icon.editor.fontSize,
				        fixedLabel: true,
				        fixedIcon: true,
				        list: 'no-icons',
				        options: ['size-1', 'size-2', 'size-3', 'size-4', 'size-5', 'size-6', 'size-7']
				      },
				      {
				        label: $q.i18n.editor.defaultFont,
				        icon: $q.icon.editor.font,
				        fixedIcon: true,
				        list: 'no-icons',
				        options: ['default_font', 'arial', 'arial_black', 'comic_sans', 'courier_new', 'impact', 'lucida_grande', 'times_new_roman', 'verdana']
				      },
				      'removeFormat'
				    ],
				    ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
				    [
				      {
				        label: $q.i18n.editor.align,
				        icon: $q.icon.editor.align,
				        fixedLabel: true,
				        list: 'only-icons',
				        options: ['left', 'center', 'right', 'justify']
				      },
				      {
				        label: $q.i18n.editor.align,
				        icon: $q.icon.editor.align,
				        fixedLabel: true,
				        options: ['left', 'center', 'right', 'justify']
				      }
				    ],
				    ['undo', 'redo']
				  ]"
				  v-bind:fonts="{
				    arial: 'Arial',
				    arial_black: 'Arial Black',
				    comic_sans: 'Comic Sans MS',
				    courier_new: 'Courier New',
				    impact: 'Impact',
				    lucida_grande: 'Lucida Grande',
				    times_new_roman: 'Times New Roman',
				    verdana: 'Verdana'
				  }"
				></q-editor>

	<q-rating v-model="ratingModel" :max="5"></q-rating>

	<q-progress
	  :percentage="progressBuffer"
	  :buffer="buffer"
	  style="height: 4px"
	></q-progress>

	<transition
	  enter-active-class="animated bounceInLeft"
	  leave-active-class="animated bounceOutRight"
	  appear
	>
	  <q-alert
	    v-if="visible"
	    color="secondary"
	    icon="cloud"
	    appear
	    :actions="[{ label: 'Dismiss', handler: () => { visible = false } }]"
	    class="q-mb-sm"
	  >
	    Lorem ipsum dolor sit amet.
	  </q-alert>
	</transition>

	<q-btn
	  v-back-to-top.animate="{offset: 500, duration: 200}"
	  round
	  color="red-6"
	  class="fixed-bottom-left animate-pop"
	  style="margin: 0 15px 15px 15px"
	>
	  <q-icon name="keyboard_arrow_up" />
	</q-btn>

</template>